
		<style>
                        .para{
                                padding: 5px 0px 6px 10px !important;
                        }
			.para:nth-child(odd){
				background: #efefef;
			}
			a{
				text-decoration: none;
			}
		</style>
                {{log baseUrl}}
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">Ventes quotidiennes - Détaillées</a></p>
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">Suivi des pertes vs Total</a></p>
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">Nos engagements</a></p>
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">VHT Total Magasin</a></p>
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">Ratio par SCS</a></p>
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">Accident de travail</a></p>
		<p class='para'><a href="{{baseUrl}}#Accounts/layout/customReport">Bons différés</a></p>
	